
@media(min-width:760px) {


    .container-one {
        display: flex;
        justify-content: space-around;
    
    }

    .container-two {
        display: flex;
        justify-content: space-around;
    
    }

    .header {
        display: flex;
        justify-content: space-around;
        
    }

    .footer {

        display: flex;
        justify-content: space-around;
        

    }

    


}

.html {

    -webkit-font-smoothing: antialiased;
}

.header, .footer {

    background-color: #E8E8E8;
}


body {
    
    
    background-color: #FFFFFF;
    
}

.title {

    font: 30px helvetica;
    font-weight: bold;
    color: #1490D3;
    text-align: center;

}

.header h1 {

    font: 35px helvetica;
    font-weight: bold;
    color: #1490D3;
}

.header-title {
    flex-basis: 90%;

}

button {
    font-size: 18px;
    border: none;
    outline: none;
    background: none;
}



.container-one h2, .container-two h2 {
    text-align: center;
    font: 28px helvetica;
    font-weight: bold;
    

}



.container-one table, .container-two table {
    
    font: 20px helvetica;
    margin: 0 auto;
    margin-bottom: 10px;
    text-align: center;
    

}



.box-left h2, .box-right h2, .box-middle h2 {
    
    margin-left: 10px;
    color: #1490D3;
    background-color: white;
}

.table-left h2, .table-right h2 {

    margin-left: 10px;
    color: #1490D3;
    background-color:white;

}

.box-left {

    flex: 2;
    margin: 10px;
    border-radius: 25px;
    
    

}

.box-middle {

    flex: 2;
    margin: 10px;
    border-radius: 25px;
    
    


}

.box-right {

    flex: 2;
    margin: 10px;
    border-radius: 25px;
    
    
    
    
    


}

table, th, td {
    border:1px solid black;
  }


table th {

    background-color: #1490D3;
    color: white;
}

/* Zebra striping */
table tr:nth-child(odd) {

    background-color: white;
}

table tr:nth-child(even) {
    background-color: #E8E8E8;
}

.table-left {
    
    flex: 1;
    margin: 10px;
    border-radius: 25px;
    background-color: white;
    

}

.table-right {
    flex: 1;
    margin: 10px;
    border-radius: 25px;
    /* box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em; */
    background-color: white;
    
}

.footer-disc {

    flex: 1;
    font: 12px helvetica;
    color: #1490D3;
    margin: 10px;
    
}

.footer-icons {

    margin: 10px;
    color: #1490D3;
}

/* .drop-down {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }

  .active, .drop-down:hover {
    background-color: #555;
  }
  
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
  } */

