
@media(min-width:760px) {


    .container-one {
        display: flex;
        justify-content: space-around;
    
    }

    .container-two {
        display: flex;
        justify-content: space-around;
    
    }

    .header {
        display: flex;
        border-radius: 25px;
        justify-content: space-around;
        background-color: #282828;
    }

    .footer {

        display: flex;
        border-radius: 25px;
        justify-content: space-around;
        background-color: #282828;

    }

    


}

body {
    
    
    background-color: #313233;
    
}

.header h1 {

    font: 35px helvetica;
    color: white;
}

.header-title {
    flex-basis: 90%;

}




.container-one h2, .container-two h2 {

    font: 28px helvetica bold;
    

}



.container-one table, .container-two table {

    font: 20px helvetica;
    margin: 0 auto;
    margin-bottom: 10px;
    text-align: center;
    

}



.box-left h2, .box-right h2, .box-middle h2 {

    text-align: center;
}

.table-left h2, .table-right h2 {

    margin-left: 10px;

}

.box-left {

    flex: 2;
    margin: 10px;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    background-color: #71c5db;
    


}

.box-middle {

    flex: 2;
    margin: 10px;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    background-color: #71c5db;
    


}

.box-right {

    flex: 2;
    margin: 10px;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    background-color: #71c5db;
    
    
    


}

table, th, td {
    border:1px solid black;
  }

.table-left {
    
    flex: 1;
    margin: 10px;
    border-radius: 25px;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    background-color: #71c5db;
    

}

.table-right {
    flex: 1;
    margin: 10px;
    border-radius: 25px;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    background-color: #71c5db;
    
}

.footer-disc {

    flex: 1;
    font: 12px helvetica;
    color: white;
    margin: 10px;
    
}

.footer-icons {

    margin: 10px;
    color: #71c5db;
}

/* .drop-down {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }

  .active, .drop-down:hover {
    background-color: #555;
  }
  
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
  } */

